.erro {
    display: none;
}
.erro.ativo {
    display: block;
}

.page-card {
    background: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
    width: 50%;
    max-width: 50%;
}