body {
            font-family: 'Segoe UI', sans-serif;
            margin: 0;
            padding: 0;
            /*background: #f4f6f8;*/
            background-image: url('../../resources/img/3.jpg');
            background-size: auto;
            background-position: center;
            background-repeat: no-repeat;
        }
        header {
            background-color: #007bff;
            color: white;
            padding: 5px;
            text-align: center;
        }
        .container {
            max-width: 600px;
            margin: 60px auto;
            padding: 30px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            text-align: center;
        }
        .subcontainer {
            max-width: 600px;
            margin: 15px auto;
            padding: 10px;
            background: white;
            text-align: center;
        }
        .menu-button {
            display: block;
            width: 95%;
            padding: 15px;
            margin: 15px 0;
            font-size: 18px;
            border: none;
            border-radius: 8px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background-color 0.2s;
            text-decoration: none;
        }
        .menu-button:hover {
            background-color: #0056b3;
        }
        @media (max-width: 500px) {
            .container {
                margin: 20px;
                padding: 20px;
            }
            .menu-button {
                font-size: 16px;
                padding: 12px;
            }
        }