{% extends "base.html" %}

{% block title %}Cadastrar item - CautelaOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='estoque/css/adicionar_item_estoque.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
{% endblock %}

{% block content %}

<h1 class="page-title">📦 Estoque • Cadastrar item</h1>

<div class="page-card">

    <form class="form-group"
          action="{{ url_for('adicionarItem') }}"
          method="POST"
          onkeydown="return event.key !== 'Enter';">

        <!-- Descrição -->
        <div class="campo">
            <label for="descricao">Descrição do item *</label>
            <input id="descricao" name="descricao" class="input padrao" type="text" required>
        </div>

        <!-- GRID -->
        <div class="seq-subdesc">

            <div class="sku-ean-qty">
                <div class="campo">
                    <label for="codigo">Código SKU *</label>
                    <input id="codigo" name="codigo" class="input padrao" type="text" required pattern="[A-Z0-9\-]+" maxlength="30">
                </div>

                <div class="campo">
                    <label for="ean">EAN-13</label>
                    <input id="ean" name="ean_13" class="input padrao" type="text">
                </div>

                <div class="campos-qty">
                    <div class="campo pequeno">
                        <label for="quantidade">Quantidade</label>
                        <input id="quantidade" name="quantidade" class="input padrao" type="number" min="0" value="1">
                    </div>

                    <div class="campo pequeno">
                        <label for="limiar_alerta">Limiar de alerta</label>
                        <input id="limiar_alerta" name="limiar_alerta" class="input padrao" type="number" min="1" value="10">
                    </div>
                </div>
            </div>

            <div class="coluna-direita">

                <div class="campo full">
                    <label for="subdescricao">Sub-descrição</label>
                    <input id="subdescricao" name="subdescricao" class="input padrao" type="text">
                </div>

                <div class="tipo-subtipo">
                    <div class="campo">
                        <label for="tipo">Tipo *</label>
                        <select name="tipo" class="select padrao" required></select>
                        <!--<input id="tipo" name="tipo_material" type="text">-->
                    </div>

                    <div class="campo">
                        <label for="subtipo">Subtipo</label>
                        <input id="subtipo" name="subtipo" class="input padrao" type="text">
                    </div>
                </div>

                <div class="valores-qty-atac">
                    <div class="campo">
                        <label for="valor">Valor unitário *</label>
                        <input id="valor" name="valor" class="input padrao" required>
                    </div>

                    <div class="campo">
                        <label for="valor_atacado">Valor atacado</label>
                        <input id="valor_atacado"  class="input padrao" name="valor_atacado">
                    </div>

                    <div class="campo pequeno">
                        <label for="qtd_atacado">Qtd atacado</label>
                        <input id="qtd_atacado" name="qtd_atacado"  class="input padrao" type="number" value="5">
                    </div>
                </div>

            </div>
        </div>

        <div class="campo">
            <label for="obs">Observações</label>
            <textarea id="obs" name="obs" rows="5"></textarea>
        </div>

        <div class="actions-bar rodape">
            <a href="{{ url_for('ver_estoque') }}" class="btn cancelar">🛇 Cancelar</a>
            <button type="submit" name="acao" value="salvar_outro" class="btn adicionar">+ Salvar e adicionar outro</button>
            <button type="submit" name="acao" value="salvar" class="btn salvar">✓ Salvar</button>
        </div>

    </form>

</div>



{% endblock %}

{% block extra_js %}
<script>const nomeOperador = "{{ session['nome_operador'] }}";</script>
<script id="tipos-itens" type="application/json">{{ tiposItens | tojson }}</script>
<script src="{{ url_for('static', filename='estoque/js/adicionar_item_estoque.js') }}"></script>
{% endblock %}
