{% extends "base.html" %}
{% block title %}{{ dados_item.codigo }} • Editar - CautelaOS{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='estoque/css/editar_item_estoque.css') }}">
{% endblock %}
{% block content %}
<h2 class="page-title">📦 Estoque - Editar item: <strong>{{ dados_item.codigo }}</strong></h2>

<div class="page-card">
    <form class="form-group"
        action="{{ url_for('alterarItem', codigo_item=dados_item.codigo )}}"
        method="POST"
        onkeydown="return event.key !== 'Enter';">

        <div class="campo">
            <label>Descrição do item *</label>
            <input type="text" name="descricao" value="{{ dados_item.descricao }}" required>
        </div>

        
        <div class="seq-subdesc">

            <div class="sku-ean-qty">
                <div class="campo">
                    <label>Código SKU *</label>
                    <input type="text" name="novo_codigo" id="novo_codigo" value="{{ dados_item.codigo }}" required pattern="[A-Z0-9\-]+" maxlength="30">
                </div>

                <div class="campo">
                    <label>EAN-13</label>
                    <input type="text" name="ean_13" value="{{ dados_item.ean_13 }}">
                </div>

                <div class="campo pequeno">
                    <label>Quantidade *</label>
                    <input type="number" name="quantidade" value="{{ dados_item.qtd }}" min="0" required>
                </div>
            </div>

            <div class="coluna-direita">

                <div class="campo full">
                    <label>Sub-descrição</label>
                    <input type="text" name="subdescricao" value="{{ dados_item.subdescricao }}">
                </div>

                <div class="tipo-subtipo">
                    <div class="campo">
                        <label>Tipo</label>
                        <select name="tipo_item" data-selected="{{ dados_item.tipo_item }}" required></select>
                    </div>

                    <div class="campo">
                        <label>Subtipo</label>
                        <input type="text" name="subtipo" value="{{ dados_item.subtipo }}">
                    </div>
                </div>

                <div class="valores-qty-atac">
                    <div class="campo">
                        <label>Valor unitário *</label>
                        <input type="text" id="valor" name="valor" value="{{ dados_item.valor }}" required>
                    </div>

                    <div class="campo">
                        <label>Valor atacado</label>
                        <input type="text" id="valor_atacado" name="valor_atacado" value="{{ dados_item.valor_atacado }}">
                    </div>

                    <div class="campo pequeno">
                        <label>Qtd atacado</label>
                        <input type="number" name="qty_atacado" value="{{ dados_item.qty_atacado }}" min="2">
                    </div>
                </div>
            </div>
        </div>

        <div class="campo">
            <label>Observações</label>
            <textarea rows="4" name="obs">{{ dados_item.obs }}</textarea>
        </div>

    

    <div class="actions-bar">
        <a href="{{ url_for('deletarItem', codigo_item=dados_item.codigo) }}"
        class="btn warning"
        onclick="return confirm('Tem certeza que deseja excluir este item?')">
            🗑 Deletar item
        </a>

        <a href="{{ url_for('ver_item_estoque', codigo_item=dados_item.codigo) }}" class="btn secondary">
            🛇 Cancelar
        </a>

        <button type="submit" class="btn save">
            ✓ Salvar
        </button>
    </form>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script id="tipos-itens" type="application/json">{{ tiposItens | tojson }}</script>
<script src="{{ url_for('static', filename='estoque/js/editar_item_estoque.js') }}"></script>
{% endblock %}
