{% extends "base.html" %}

{% block title %}{{ dados_item.codigo }} • Estoque - CautelaOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='estoque/css/ver_item_estoque.css') }}">
{% endblock %}

{% block content %}

<h2 class="page-title">📦 Estoque - Detalhes do item: <strong>{{ dados_item.codigo }}</strong></h2>

<div class="page-card">
    <div class="campo">
        <label>Descrição do item</label>
        <input type="text" value="{{ dados_item.descricao }}" readonly>
    </div>

    <div class="seq-subdesc">

        <div class="sku-ean-qty">
            <div class="campo">
                <label>Código SKU</label>
                <input type="text" value="{{ dados_item.codigo }}" readonly>
            </div>

            <div class="campo">
                <label>EAN-13</label>
                <input type="text" value="{{ dados_item.ean_13 }}" readonly>
            </div>

            <div class="campo pequeno">
                <label>Quantidade</label>
                <input type="number" value="{{ dados_item.qtd }}" readonly>
            </div>
        </div>

        <div class="coluna-direita">

            <div class="campo full">
                <label>Sub-descrição</label>
                <input type="text" value="{{ dados_item.subdescricao }}" readonly>
            </div>

            <div class="tipo-subtipo">
                <div class="campo">
                    <label>Tipo</label>
                    <input type="text" value="{{ dados_item.tipo_item }}" readonly>
                </div>

                <div class="campo">
                    <label>Subtipo</label>
                    <input type="text" value="{{ dados_item.subtipo }}" readonly>
                </div>
            </div>

            <div class="valores-qty-atac">
                <div class="campo">
                    <label>Valor unitário</label>
                    <input type="text" value="R$ {{ dados_item.valor }}" readonly>
                </div>

                <div class="campo">
                    <label>Valor atacado</label>
                    <input type="text" value="R$ {{ dados_item.valor_atacado }}" readonly>
                </div>

                <div class="campo pequeno">
                    <label>Qtd atacado</label>
                    <input type="number" value="{{ dados_item.qty_atacado }}" readonly>
                </div>
            </div>
        </div>
    </div>

    <div class="campo">
        <label>Observações</label>
        <textarea rows="4" readonly>{{ dados_item.obs }}</textarea>
    </div>

    <div class="actions-bar">
        <a href="{{ url_for('ver_estoque') }}" class="btn secondary">
            ← Voltar
        </a>

        <a href="{{ url_for('editar_item_estoque', codigo_item=dados_item.codigo) }}" class="btn edit">✎</a>

    </div>

</div>

{% endblock %}
