{% extends "base.html" %}

{% block title %}Estoque - Cautela OS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='estoque/css/visualizar_lista_estoque.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
{% endblock %}

{% block content %}

<h2>📦 Estoque - Itens inativos</h2>
<p class="subtitle">
    Artigos inativos: <strong>{{ qtd_artigos }}</strong>
</p>

<div class="actions-bar">
    <a href="{{ url_for('ver_estoque') }}" class="btn navegar">← Voltar</a>
</div>

<div class="table-card">
    <table id="tabela-estoque" class="display">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th style="display:none">Tipo</th>
                <th>🔍︎</th>
            </tr>
        </thead>
        <tbody>
            {% for item in dados_estq %}
            <tr>
                <td>{{ item.codigo }}</td>
                <td style="text-align:left">{{ item.descricao }}</td>
                <td style="display:none">{{ item.tipo }}</td>
                <td>
                    <a href="{{ url_for('ver_item_estoque', codigo_item=item.codigo) }}" style="text-decoration: none;">🔍︎</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

{% endblock %}

{% block extra_js %}
<script id="tipos-itens" type="application/json">
    {{ tipos_itens | tojson }}
</script>
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="{{ url_for('static', filename='estoque/js/visualizar_lista_inativos.js') }}"></script>
{% endblock %}
