{% extends "base.html" %}
{% block title %}Adicionar colaborador • CautelaOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='colaboradores/css/adicionar_colaborador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">👤 Colaboradores - Adicionar</h2>

<div class="page-card">
    
    <form action="{{ url_for('cadastrar_colab') }}" method="POST">

        <div class="campo">
            <label>Nome completo<label style="color:red">*</label></label>
            <input type="text" name="nome_completo" class="input padrao" required>
        </div>

        <div class="seq-subdesc">

            <div class="campo">
                <label>Nome simples<label style="color:red">*</label></label>
                <input type="text" name="apelido" class="input padrao" required>
            </div>

            <div class="campo">
                <label>Usuário<label style="color:red">*</label></label>
                <input type="text" name="usuario" class="input padrao" required>
            </div>

            <div class="campo">
                <label>Código de identidade<label style="color:red">*</label></label>
                <input type="text" name="identidade" class="input padrao" maxlength="11" required>
            </div>

        </div>

        <div class="divisor"></div>

        <div class="seq-subdesc">

            <div class="campo">
                <label>Cargo<label style="color:red">*</label></label>
                <select name="nivel_acesso" class="select padrao" required>
                    <option value="">Selecione um nível</option>
                </select>
            </div>

        </div>

        <div class="actions-bar rodape">
            <a href="{{ url_for('visualizar_colaboradores') }}" class="btn cancelar">🛇 Cancelar</a>
            <button type="submit" class="btn salvar">✓ Salvar</button>
        </div>

    </form>
</div>
{% endblock %}

{% block extra_js %}
<script id="cargos-json" type="application/json">{{ cargos | tojson }}</script>
<script src="{{ url_for('static', filename='colaboradores/js/adicionar_colaborador.js') }}"></script>
{% endblock %}
