{% extends "base.html" %}
{% block title %}Detalhes do colaborador • CautelaOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='colaboradores/css/detalhes_colaborador.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">👤 Detalhes do colaborador - {{dados_colab.nome_simples}}</h2>

<div class="page-card">

        <div class="campo">
            <label>Nome completo</label>
            <input type="text" name="nome_completo" disabled value="{{dados_colab.nome_completo}}">
        </div>

        <div class="seq-subdesc">

            <div class="campo">
                <label>ID</label>
                <input type="text" name="id" disabled value="{{dados_colab.id}}">
            </div>

            <div class="campo">
                <label>Nome simples</label>
                <input type="text" name="nome_simples" disabled value="{{dados_colab.nome_simples}}">
            </div>

            <div class="campo">
                <label>Usuário</label>
                <input type="text" name="usuario" disabled value="{{dados_colab.nome_usuario}}">
            </div>

            <div class="campo">
                <label>Código de identidade</label>
                <input type="text" name="identidade" disabled value="INSERIDO">
            </div>

        </div>

            <div class="campo">
                <label>Ativo</label>
                <input name="is_ativo" disabled value="{% if dados_colab.is_ativo %} Sim {%else%} Não {%endif%}">
            </div>

            <div class="campo">
                <label>Cargo</label>
                <input name="cargo" disabled value="{{dados_colab.cargo}}">
            </div>

            <div class="campo">
                <label>Nível de acesso</label>
                <input name="nivelAcesso" disabled value="{{dados_colab.nivel_acesso}}">
            </div>

            <div class="campo">
                <label>Data de cadastro</label>
                <input name="dataCadastro" disabled value="{{dados_colab.data_inclusao}}">
            </div>

            <div class="campo">
                <label>Operador do cadastro</label>
                <input name="operadorCadastro" disabled value="{{dados_colab.operador_inclusao}}">
            </div>

        </div>

        <div class="actions-bar">
            <a href="{{ url_for('visualizar_colaboradores') }}" class="btn secondary">← Voltar</a>
            <a href="{{ url_for('edit_dados_colaborador', id_colab=id_colab) }}" class="btn edit">✎</a>
        </div>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
