{% extends "base.html" %}
{% block title %}Detalhes do colaborador • CautelaOS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='colaboradores/css/detalhes_colaborador.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
{% endblock %}

{% block content %}
<h2 class="page-title">👤 Detalhes do colaborador - <strong>{{dados_colab.apelido}}</strong> - Último login: {{dados_colab.data_ult_login}}{%if dados_colab.delta_dias != 0%} ({{dados_colab.delta_dias}} {%if dados_colab.delta_dias == 1%}dia{%else%}dias{%endif%} desde o último login){%endif%}</h2>

<div class="page-card">

        <div class="campo" style="margin-bottom: 15px;">
            <label>Nome completo</label>
            <input type="text" class="input padrao" name="nome_completo" disabled value="{{dados_colab.nome_completo}}">
        </div>

        <div class="seq-subdesc">

            <div class="campo">
                <label>ID</label>
                <input type="text" class="input padrao" name="id" disabled value="{{dados_colab.id}}">
            </div>

            <div class="campo">
                <label>Apelido</label>
                <input type="text" class="input padrao" name="apelido" disabled value="{{dados_colab.apelido}}">
            </div>

            <div class="campo">
                <label>Usuário</label>
                <input type="text" class="input padrao" name="usuario" disabled value="{{dados_colab.nome_usuario}}">
            </div>

            <div class="campo">
                <label>Cargo</label>
                <input name="nivelAcesso" class="input padrao" disabled value="{{dados_colab.cargo}}">
            </div>

            <div class="campo">
                <label>Código de identidade</label>
                <input type="text" class="input padrao" name="identidade" disabled value="INSERIDO">
            </div>

            <div class="campo">
                <label>Ativo</label>
                <input name="is_ativo" class="input padrao" disabled value="{% if dados_colab.is_ativo %} 🟢 Sim {%else%} 🔴 Não {%endif%}">
            </div>

        </div>

        <div class="permissoes-modulos-wrapper">
            <label class="title" for="grupos-grid">Módulos</label>
            <div class="grupos-grid">

                {% if dados_colab.cargo == "Administrador" %}
                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-estoque">📦</div>
                        <span class="grupo-nome">CautelaOS</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_estoque" disabled><span>Estoque</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_venda" disabled><span>Vendas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_cautela" disabled><span>Cautelas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_servico" disabled><span>Serviços</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_cliente" disabled><span>Clientes</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_colaborador" disabled><span>Colaboradores</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_relatorio" disabled><span>Relatórios</span></label>
                    </div>
                </div>
                {% endif %}

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-vendas">🛒</div>
                        <span class="grupo-nome">2</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_estoque" disabled><span>Estoque</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_venda" disabled><span>Vendas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_cautela" disabled><span>Cautelas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_servico" disabled><span>Serviços</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_cliente" disabled><span>Clientes</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD2_colaborador" disabled><span>Colaboradores</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_relatorio" disabled><span>Relatórios</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-servico">🔧</div>
                        <span class="grupo-nome">3</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_estoque" disabled><span>Estoque</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_venda" disabled><span>Vendas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_cautela" disabled><span>Cautelas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_servico" disabled><span>Serviços</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_cliente" disabled><span>Clientes</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD3_colaborador" disabled><span>Colaboradores</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_relatorio" disabled><span>Relatórios</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-cautela">📋</div>
                        <span class="grupo-nome">4</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_estoque" disabled><span>Estoque</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_venda" disabled><span>Vendas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_cautela" disabled><span>Cautelas</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_servico" disabled><span>Serviços</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_cliente" disabled><span>Clientes</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD4_colaborador" disabled><span>Colaboradores</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_MOD1_relatorio" disabled><span>Relatórios</span></label>
                    </div>
                </div>

            </div>
        </div>







        <div class="permissoes-wrapper">
            <label class="title" for="grupos-grid">Permissões</label>
            <div class="grupos-grid">

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-estoque">📦</div>
                        <span class="grupo-nome">Estoque</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_estoque_ver" disabled><span>Ver</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_estoque_editar" disabled><span>Editar</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-vendas">🛒</div>
                        <span class="grupo-nome">Vendas</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_vendas_ver" disabled><span>Ver</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_vendas_editar" disabled><span>Editar</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_vendas_registrar" disabled><span>Registrar</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-servico">🔧</div>
                        <span class="grupo-nome">Serviço</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_servico_ver" disabled><span>Ver</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_servico_editar" disabled><span>Editar</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_servico_registrar" disabled><span>Registrar</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-cautela">📋</div>
                        <span class="grupo-nome">Cautela</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_cautela_ver" disabled><span>Ver</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_cautela_editar" disabled><span>Editar</span></label>
                        <label class="perm-item"><input type="checkbox" name="perm_cautela_registrar" disabled><span>Registrar</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-relat">📊</div>
                        <span class="grupo-nome">Relatórios</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_relatorios" disabled><span>Acessar</span></label>
                    </div>
                </div>

                <div class="grupo">
                    <div class="grupo-header">
                        <div class="grupo-icon ico-dados">🗑</div>
                        <span class="grupo-nome">Dados</span>
                    </div>
                    <div class="grupo-items">
                        <label class="perm-item"><input type="checkbox" name="perm_dados_apagar" disabled><span>Apagar</span></label>
                    </div>
                </div>

            </div>
        </div>


        <div class="seq-cadastro">

            <div class="campo">
                <label for="dataCadastro">Data de cadastro</label>
                <p name="dataCadastro">{{dados_colab.data_inclusao}}</p>
            </div>

            <div class="campo">
                <label>Operador do cadastro</label>
                <p name="operadorCadastro">{{dados_colab.operador_inclusao}}</p>
            </div>

            <div class="campo">
                <label>Data de modificação</label>
                <p name="dataModificacao">{% if dados_colab.data_modificacao == None %} - {%else%} {{dados_colab.data_modificacao}} {%endif%}</p>
            </div>

            <div class="campo">
                <label for="operadorModificacao">Operador de modificação</label>
                <p name="operadorModificacao">{% if dados_colab.operador_modificacao == None %} - {%else%} {{dados_colab.operador_modificacao}} {%endif%}</p>
            </div>

        </div>

    

        <div class="actions-bar">
            <a href="{{ url_for('visualizar_colaboradores') }}" class="btn cancelar">← Voltar</a>
            <a href="{{ url_for('edit_dados_colaborador', id_colab=dados_colab.id) }}" class="btn acao">✎ Editar dados</a>
        </div>

</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
