<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/><style>
table {border: medium solid #6495ed;border-collapse: collapse;width: 100%;} th{font-family: monospace;border: thin solid #6495ed;padding: 5px;background-color: #D0E3FA;}th{text-align: left;}td{font-family: sans-serif;border: thin solid #6495ed;padding: 5px;text-align: center;}.odd{background:#e8edff;}img{padding:5px; border:solid; border-color: #dddddd #aaaaaa #aaaaaa #dddddd; border-width: 1px 2px 2px 1px; background-color:white;}</style>
</head>
<body>
<table><tr><th colspan="4"><pre><code>SELECT *<br>FROM estoque.suprimentos</code></pre></th></tr><tr><th>codigo</th><th>nome_item</th><th>qty</th><th>tipo_unitario</th></tr><tr class="odd"><td>CX-PAPEL</td><td>Caixa de resmas de papel - 10 unidades</td><td>2</td><td>Caixa</td></tr>
<tr><td>TK-3182</td><td>Cartucho de toner para impressora Kyocera P3055/P3155</td><td>-6</td><td>Uni</td></tr>
<tr class="odd"><td>406683C</td><td>Cartucho de toner para impressora Ricoh SP 5200dn/SP 5210dn/SP 5200sf - Compatível</td><td>-7</td><td>Uni</td></tr>
<tr><td>M9060136</td><td>Unidade de imagem para impressora Ricoh MP 402SPF</td><td>10</td><td>Uni</td></tr>
<tr class="odd"><td>MLT-D201LC</td><td>Cartucho de toner para impressora Samsung M4080 - Compatível</td><td>10</td><td>Uni</td></tr>
<tr><td>TK-1175</td><td>Cartucho de toner para impressora Kyocera M2040/M2640idw-L</td><td>10</td><td>Uni</td></tr>
<tr class="odd"><td>842094</td><td>Cartucho de toner YELLOW para impressora Ricoh MP C307/MP C407</td><td>10</td><td>Uni</td></tr>
<tr><td>TK-3122</td><td>Cartucho de toner para impressora Kyocera M3550</td><td>10</td><td>Uni</td></tr>
<tr class="odd"><td>842092</td><td>Cartucho de toner CYAN para impressora Ricoh MP C307/MP C407</td><td>10</td><td>Uni</td></tr>
<tr><td>842091</td><td>Cartucho de toner BLACK para impressora Ricoh MP C307/MP C407</td><td>3</td><td>Garrafa</td></tr>
<tr class="odd"><td>842093</td><td>Cartucho de toner MAGENTA para impressora Ricoh MP C307/MP C407</td><td>6</td><td>Uni</td></tr>
<tr><td>841920C</td><td>Cartucho de toner MAGENTA para impressora Ricoh MP C2004/MP C2004ex - Compatível</td><td>-1</td><td>Garrafa</td></tr>
<tr class="odd"><td>841918C</td><td>Cartucho de toner BLACK para impressora Ricoh MP C2004/MP C2004ex - Compatível</td><td>-2</td><td>Garrafa</td></tr>
<tr><td>841919C</td><td>Cartucho de toner YELLOW para impressora Ricoh MP C2004/MP C2004ex - Compatível</td><td>-2</td><td>Garrafa</td></tr>
<tr class="odd"><td>MLT-D203U</td><td>Cartucho de toner para impressora Samsung SL-M4020/SL-M4070</td><td>-3</td><td>Uni</td></tr>
<tr><td>841921C</td><td>Cartucho de toner CYAN para impressora Ricoh MP C2004/MP C2004ex - Compatível</td><td>-2</td><td>Garrafa</td></tr>
<tr class="odd"><td>407823C</td><td>Cartucho de toner para impressora Ricoh MP 501/MP 601 - Compatível</td><td>-12</td><td>Uni</td></tr>
<tr><td>418477C</td><td>Cartucho de toner IM600 para impressora Ricoh IM550 - Compatível</td><td>2</td><td>Uni</td></tr>
<tr class="odd"><td>62DBX00C</td><td>Cartucho de toner para impressora Lexmark T654/MX711 - Compatível</td><td>-3</td><td>Uni</td></tr>
<tr><td>407316C</td><td>Cartucho de toner para impressora Ricoh SP 4510sf/SP 4510dn - Compatível</td><td>-12</td><td>Uni</td></tr>
</table></body></html>