<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Cautela OS{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            :root {
                --cor-primaria: {{session.get("modulo_cor_pri", "#0f2a44")}};
                --cor-secundaria: {{session.get("modulo_cor_sec", "#1c3d5a")}};
                --cor-terciaria: {{session.get("modulo_cor_terc", "#0f2a44")}};
                --cor-texto: {{session.get("modulo_cor_texto", "#000000")}};
            }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='index/css/base.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
        
        {% block extra_css %}
        
        {% endblock %}

    </head>

    <body>
        <div class="app">
            <aside class="sidebar">
                <div class="sidebar-brand">
                    <a href="{{ url_for('dashboard') }}" style="text-decoration: none; color: inherit;"><h1>{{session["modulo_nome"]}}</h1></a>
                    
                        {% if session["modulo_nome"] == "CautelaOS" %}
                            <span>
                                {{session["versao_sistema"]}}
                            </span>
                        {% else %}
                            <span>    
                                CautelaOS {{session["versao_sistema"]}}
                            </span>
                        {% endif %}
                    {% if session["u_qtd_modulos"] > 1 %}
                        <a href="{{ url_for('selecionar_modulo') }}" style="text-decoration: none; color: inherit;">
                            <img src="{{ url_for('static', filename=dados_modulo.logo_src) }}" alt="Trocar módulo" style="max-width: 20px;">
                        </a>
                    {% endif %}
                </div>

                <nav class="sidebar-menu">
                    <a href="{{ url_for('dashboard') }}">📈 Dashboard</a>

                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span>📦 Estoque</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('ver_estoque') }}">📋 Ver estoque</a>
                            <a href="{{ url_for('adicionarItem') }}">➕ Adicionar item</a>
                            <a href="{{ url_for('adicionarItem') }}">✏️ Alteração em lote</a>
                        </div>
                    </div>


                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span>💰 Vendas</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('visualizar_vendas') }}">💰 Ver vendas</a>
                            <a href="{{ url_for('registrar_venda') }}">➕ Registrar venda</a>
                        </div>
                    </div>


                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span style="color: red;">📦 Cautela</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('listar_cautelas') }}" style="color: yellow;">📋 Ver cautelas</a>
                            <a href="" style="color: red;">➕ Gerar cautela</a>
                        </div>
                    </div>

                    {% if tem_acesso(1, 2, 4) %}
                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span style="color: red;">🛠️ Serviço</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="" style="color: red;">📋 Ver ordens</a>
                            <a href="" style="color: red;">➕ Gerar ordem</a>
                            
                        </div>
                    </div>
                    {% endif %}

                    {% if tem_acesso(1, 2) %}
                    <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span style="color: yellow;">👥 Clientes</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="{{ url_for('visualizar_clientes') }}" style="color: yellow;">📋 Gerenciar</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if tem_acesso(1, 2) %}
                        <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span>👥 Colaboradores</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="{{ url_for('visualizar_colaboradores') }}">📋 Gerenciar</a>
                                <a href="{{ url_for('cadastrar_colab') }}">➕ Adicionar colaborador</a>
                            </div>
                        </div>
                    {% endif %}
                    
                    {% if tem_acesso(1, 2) %}
                        <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span style="color: red;">📊 Relatórios</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="" style="color: red;">📦 Estoque</a>
                                <a href="" style="color: red;">💰 Vendas</a>
                                <a href="" style="color: red;">📦 Cautelas</a>
                                <a href="" style="color: red;">🛠️ Serviços</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if tem_acesso(1) %}
                        <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span style="color: red;">Módulos</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="" style="color: red;">Gerenciar</a>
                            </div>
                        </div>
                    {% endif %}


                </nav>
            </aside>

            <div class="main">
                <header class="header">
                    <div class="header-user">
                        <p>
                            Bem-vindo, 
                            <a href="{{ url_for('perfil_colaborador') }}" class="link-reset">
                                <strong>{{ session.get('u_apelido', 'Usuário') }}</strong>
                            </a>
                        </p>
                        <hr>
                        <div class="header-meta">
                            <span class="badge-cargo" data-id-acesso="{{ session['nivel_acesso'] }}">{{ session['cargo'] }}</span>

                            <form action="{{ url_for('logout') }}" method="POST">
                                <button type="submit" class="logout-btn">⎋ Sair</button>
                            </form>
                        </div>
                    </div>
                </header>

                <main class="content">
                    {% block content %}
                    <h2>Dashboard</h2>
                    <p>Selecione uma opção no menu lateral.</p>
                    {% endblock %}
                </main>

            </div>

        </div>

        <script src="{{ url_for('static', filename='index/js/base.js') }}"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>
