<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Cautela OS{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='index/css/base.css') }}">
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        <div class="app">
            <aside class="sidebar">
                <div class="sidebar-brand">
                    <a href="{{ url_for('dashboard') }}" style="text-decoration: none; color: inherit;"><h1>Cautela OS</h1></a>
                    <span>Versão 1.4</span>
                </div>

                <nav class="sidebar-menu">
                    <a href="{{ url_for('dashboard') }}">📈 Dashboard</a>

                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span>📦 Estoque</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('ver_estoque') }}">📋 Ver estoque</a>
                            <a href="{{ url_for('adicionarItem') }}">➕ Adicionar item</a>
                            <a href="" style="color: red;">📊 Relatórios</a>
                        </div>
                    </div>


                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span>💰 Vendas</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('visualizar_vendas') }}">💰 Ver vendas</a>
                            <a href="{{ url_for('registrar_venda') }}">➕ Registrar venda</a>
                            <a href="" style="color: red;">📊 Relatórios</a>
                        </div>
                    </div>


                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span style="color: red;">📦 Cautela</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="{{ url_for('listar_cautelas') }}" style="color: yellow;">📋 Ver cautelas</a>
                            <a href="" style="color: red;">➕ Gerar cautela</a>
                            <a href="" style="color: red;">📊 Relatórios</a>
                        </div>
                    </div>

                    {% if tem_acesso(1, 2, 4) %}
                    <div class="menu-item has-submenu">
                        <button class="menu-toggle">
                            <span style="color: red;">🛠️ Serviço</span>
                            <span class="arrow">▸</span>
                        </button>

                        <div class="submenu">
                            <a href="" style="color: red;">📋 Ver ordens</a>
                            <a href="" style="color: red;">➕ Gerar ordem</a>
                            <a href="" style="color: red;">📊 Relatórios</a>
                        </div>
                    </div>
                    {% endif %}

                    {% if tem_acesso(1, 2) %}
                    <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span style="color: yellow;">👥 Clientes</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="{{ url_for('visualizar_clientes') }}" style="color: yellow;">📋 Gerenciar</a>
                            </div>
                        </div>
                    {% endif %}

                    {% if tem_acesso(1, 2) %}
                        <div class="menu-item has-submenu">
                            <button class="menu-toggle">
                                <span style="color: yellow;">👥 Colaboradores</span>
                                <span class="arrow">▸</span>
                            </button>

                            <div class="submenu">
                                <a href="{{ url_for('visualizar_colaboradores') }}" style="color: yellow;">📋 Gerenciar</a>
                                <a href="{{ url_for('cadastrar_colab') }}" style="color: yellow;">➕ Adicionar colaborador</a>
                            </div>
                        </div>
                    {% endif %}


                </nav>
            </aside>

            <div class="main">
                <header class="header">
                    <div class="header-user">
                        <p>Bem-vindo, <strong>{{ session.u_apelido }}</strong></p>
                        <hr>
                        <div class="header-meta">
                            <span class="badge-cargo" data-id-acesso="{{ session['nivel_acesso'] }}">{{ session['cargo'] }}</span>

                            <form action="{{ url_for('logout') }}" method="POST">
                                <button type="submit" class="logout-btn">⎋ Sair</button>
                            </form>
                        </div>
                    </div>
                </header>

                <main class="content">
                    {% block content %}
                    <h2>Dashboard</h2>
                    <p>Selecione uma opção no menu lateral.</p>
                    {% endblock %}
                </main>

            </div>

        </div>

        <script src="{{ url_for('static', filename='index/js/base.js') }}"></script>
        {% block extra_js %}{% endblock %}

    </body>
</html>
