{% extends "base.html" %}

{% block title %}Dashboard - Cautela OS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index/css/dashboard.css') }}">
{% endblock %}

{% block content %}
<h2>Dashboard</h2>

<div class="cards">
    <div class="card blue">
        <h3>Itens em estoque</h3>
        <strong>{{ qtd_itens }} itens</strong>
    </div>

    <div class="card blue">
        <h3>Valor total</h3>
        <strong>R$ {{ valor_estoque }}</strong>
    </div>

    <div class="card green">
        <h3>Vendas - hoje</h3>
        <strong>{{ qtd_vendas_hj }}</strong>
    </div>

    <div class="card green">
        <h3>Renda - hoje</h3>
        <strong>R$ {{ val_vendas }}</strong>
    </div>

    <a href="{{ url_for('ver_estoque') }}" style="text-decoration: none; color: inherit;">
    <div class="card red">
        <h3>Itens críticos no estoque:</h3>
        <strong>{{ criticos }} itens</strong>
    </div>
    </a>
</div>
{% endblock %}
