<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Erro interno - CautelaOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/error.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
</head>
<body>

<header class="topbar">
    <div class="topbar-content">
        <h1>CautelaOS</h1>

        {% if session %}
        <p>Bem-vindo, {{session.get("usuario", {"nome": "USUÁRIO"}).get("nome")}}!</p>
        
        <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-btn">⎋ Sair</button>
        </form>
        {% endif %}
    </div>
</header>

<main class="error-wrapper">

        {% if erro %}
            <div class="box">
                <h1>Erro interno do sistema</h1>
                <p><strong>Tipo:</strong> {{ tipo }}</p>
                <p><strong>Mensagem:</strong> {{ erro }}</p>
                <h3>Stacktrace</h3>
                <pre>{{ traceback }}</pre>
            </div>
        {% else %}
            {% if tipo == "Forbidden" %}
                <div class="box">
                    <h1>403 - Não autorizado</h1>
                    <p><strong>Você não possui autorização para acessar o recurso solicitado.</strong></p>
                    <p>Contate o administrador do sistema.</p>
                </div>
            {% else %}
                {% if tipo == "NotFound" %}
                    <div class="box">
                        <h1>404 - Não encontrado</h1>
                        <p><strong>O sistema não conseguiu localizar o recurso solicitado.</strong></p>
                        <p>Contate o administrador do sistema.</p>
                    </div>
                {% else %}
                    <div class="box">
                        <h1>Erro interno</h1>
                        <p><strong>Ocorreu um erro interno no sistema.</strong></p>
                        <p>Contate o administrador do sistema e informe:</p>
                        <br>
                        <p>{{ tipo }}</p>
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
        

</main>

</body>
</html>







