<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Selecionar módulo - CautelaOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/selecionar_modulo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='resources/logo.png') }}"/>
    {% for modulo in modulos %}
        <style>:root {--cor-primaria: {{ modulo.cor_pri }};</style>
    {% endfor %}
</head>
<body>

<header class="topbar">
    <div class="topbar-content">
        <h1>CautelaOS</h1>
        <p>Bem-vindo, {{session.get("usuario").get("nome")}}!</p>
        <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-btn">⎋ Sair</button>
        </form>
    </div>
</header>

<main class="module-wrapper">
    <div class="content-container">

        <div class="content-header">
            <h4>Módulos disponíveis</h4>
        </div>
        
        <div class="module-container">
            {% for modulo in modulos %}
                {% if modulo.id in usr_modulos %}
                <a href="{{ url_for('definir_modulo', id_modulo=modulo.id) }}" class="module-link">
                    <div class="module-card" style="--cor-primaria: {{ modulo.cor_pri }}">
                        <img src="{{ url_for('static', filename=modulo.splash_src) }}" alt="{{ modulo.nome }}">
                    </div>
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</main>

</body>
</html>
