<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Selecionar módulo - CautelaOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
</head>
<body>

<header class="topbar">
    <div class="topbar-content">
        <h1>Cautela OS</h1>
        <span class="version">Versão {{session["versao_sistema"]}}</span>
    </div>
</header>

<main class="login-wrapper">

    {% for modulo in modulos %}
    <a href="{{ url_for('definir_modulo', id_modulo=modulo.id) }}" style="text-decoration: none; margin-right: 25px;">
        <div class="login-card" style="height: 100px; width: 300px; padding: 0px; align-content: center;">
            <img src="{{ url_for('static', filename=modulo.logo_src) }}" style="width: 250px;">
        </div>
    </a>
    {% endfor %}

</main>

</body>
</html>
