<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login - CautelaOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
</head>
<body>

<header class="topbar">
    <div class="topbar-content">
        <h1>Cautela OS</h1>
        <span class="version">v1.4</span>
    </div>
</header>

<main class="login-wrapper">

    <div class="login-card" style="margin-right: 25px;"><h1>Vortex</h1></div>
    <div class="login-card" style="margin-right: 25px;"><h1>Mimiso</h1></div>
    <div class="login-card" style="margin-right: 25px;"><h1>Niitech</h1></div>

</main>

</body>
</html>
