<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Alterar senha - CautelaOS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index/css/common_contents.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}"/>
</head>
<body>

<header class="topbar">
    <div class="topbar-content">
        <h1>Cautela OS</h1>
        <span class="version">v1.4</span>
    </div>
</header>

<main class="login-wrapper">

    <div class="login-card">

        <h2>🔐 Alterar senha</h2>
        <p class="subtitle">Digite sua nova senha</p>

        {% if erro %}
            <div class="error">{{ erro }}</div>
        {% endif %}

        <form method="POST" class="login-form">

            <div class="field">
                <label for="usuario">Usuário</label>
                <input type="text" id="usuario" name="usuario" value= "{{usuario}}" disabled>
            </div>

            <div class="field">
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
            </div>

            <div class="field">
                <label for="senha">Confirmar senha</label>
                <input type="password" id="confirma_senha" name="confirma_senha" required>
            </div>

            <button type="submit" class="btn entrar">
                Salvar
            </button>

        </form>

    </div>

</main>

</body>
</html>
