{% extends "base.html" %}

{% block title %}Registrar Venda - Cautela OS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='venda/css/registrar_venda.css') }}">
{% endblock %}

{% block content %}

<h2>💰 Registrar Venda</h2>



<form id="formulario" class="form-layout" method="POST" action="{{ url_for('registrar_venda') }}" method="POST">

    <div class="table-card">

        <div class="cliente-group">

            <div>
                <label>ID</label>
                <select name="id_cliente[]" oninput="atualizarNomeCliente(this)"></select>
            </div>

            <div>
                <label>Nome do Cliente</label>
                <select name="nome_cliente[]" oninput="atualizarIdCliente(this)"></select>
            </div>

        </div>

    </div>

    <div class="table-card">

        <!-- LEITOR -->
        <div id="div-leitora">
            <label>Leitura de código de barras</label>
            <input
                type="text"
                id="entrada-leitor"
                class="input-leitor"
                placeholder="Código do item"
                onkeydown="adicionarLeitura(event)">
        </div>

        <div style="text-align:center; margin-top:20px;">
            <button
                id="botao-additem"
                type="button"
                class="btn secondary"
                onclick="acionarAdicaoManual()">
                + Adicionar item manualmente
            </button>
        </div>

        <div id="div-item-manual" style="display: none;"></div>

        <hr style="margin: 24px 0;">

        <strong>Itens da venda</strong>

        <div class="item-row header">
            <span>Código</span>
            <span>Descrição</span>
            <span>Valor</span>
            <span>Qtd</span>
        </div>

        <div id="itens-carrinho"></div>

    </div>

    <div class="table-card">

        <!-- OBSERVAÇÕES -->
        <div class="obs-group">
            <label>
                Observações
                <textarea name="observacoes"></textarea>
            </label>
        </div>

        <hr style="margin: 24px 0;">

        <div class="footer">

            <div>
                
                <label for="vendedor" name="vendedor">
                    Vendedor/Operador

                    {% if tem_acesso(1, 2) %}
                        <select name="vendedor">
                    {%else%}
                        <select disabled>
                    {% endif %}
                    </select>

                    {% if not tem_acesso(1, 2) %}
                        <input type="hidden" name="vendedor" value="{{ session['u_id'] }}">
                    {% endif %}

                </label>
            </div>

            <div class="total">
                <span>Valor Total</span>
                <h2 name="valor_total">R$ 0,00</h2>
            </div>

        </div>

        <div style="text-align:center; margin-top:30px;">
            <a href="{{ url_for('dashboard') }}" class="btn secondary">← Voltar</a>
            <button type="submit" class="btn primary">Salvar Venda</button>
        </div>

        

    </div>

</form>

<script id="dados-gerais" type="application/json">{{ dados_gerais | safe }}</script>
<script id="dados-itens" type="application/json">{{ dados_itens | safe }}</script>
<script id="dados-clientes" type="application/json">{{ dados_clientes | safe }}</script>
<script id="lista-vendedores" type="application/json">{{ lista_colaboradores | safe }}</script>

{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='venda/js/registrar_venda.js') }}"></script>
{% endblock %}
