body {
            font-family: 'Segoe UI', sans-serif;
            background: #f4f4f4;
            margin: 0;
            padding: 0;
            background-image: url('/static/resources/img/3.jpg');
            background-size: cover;
            background-attachment: fixed;
        }

        header {
            background-color: #007bff;
            color: white;
            padding: 5px;
            text-align: center;
        }

        .container {
            max-width: 900px;
            background: white;
            margin: 30px auto;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 30px;
            color: #007bff;
        }

        .info-group, .cliente-group, .obs-group, .footer {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
        }

        input, select, textarea {
            width: 100%;
            padding: 10px;
            font-size: 14px;
            border-radius: 6px;
            border: 1px solid #ccc;
        }

        textarea {
            resize: vertical;
            height: 80px;
        }

        .row {
            display: flex;
            gap: 20px;
            margin-bottom: 15px;
            display: inline-flex;
        }

        .row > label {
            display: inline-flex;
            font-weight: normal;
            display: flex;
            align-items: center;
            gap: 5px;
        }

        .items-container {
            margin-top: 20px;
        }

        .item-row {
            display: flex;
            gap: 15px;
            margin-bottom: 10px;
        }

        .item-row input[readonly] {
            background-color: #eee;
        }

        .item-row > div {
            flex: 1;
        }

        button {
            padding: 10px 20px;
            background-color: #0ed200;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
        }

        .footer .row {
            align-items: center;
            text-align: center;
        }
        .obs-group {
            padding-top: 25px;
        }